# Ignore everything in this directory
#*
# Except these files
#!.gitignore
#!FrameProcessor.xml
#!PreProcessor.xml
#!VideoCapture.xml
#./idea
.idea

#Python
__pycache__
*.py[cod]

#Picture
*.png
*.jpg